*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.5;
    color:#333;
    background-color: #a1c3ff;
}
img{
    max-width:100%;
}
h1,h2{
    margin-bottom:15px;
}
.container{
    max-width:1100px;
    margin:0 auto;
    padding:0 30px;
   

}
ul{
    list-style-type: none;

}
a{
    text-decoration: none;
}
.navbar{
    background-color: #3474e6;
    color:white;
    height:60px;
}
.logo{
    font-size:x-large;
    font-weight:bold;
}
.navbar a{
    color:#fff;
    font-size:18px;
    font-weight:bold;
}
.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;/*to make logo and the navs to center*/
}
.navbar ul{
    display:flex;
}
.navbar li{
    margin-left:20px;
}
.navbar a:hover{
    color:lightblue
}
.header{
    background-color: #0a51cc;
    color:white;
    min-height:400px;
}
.header h1{
    font-size:3rem;
    font-weight:bold;
    line-height:1.2;
}
.header img{
    max-width:400px;
}
.header .container{
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding:30px;
   
}
.boxes .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box{
    flex:1;
    background:#0a51cc;
    color:white;
    border-radius:10px;
    margin:20px 10px;
    padding:15px 20px;
    box-shadow:0 3px 5px rgba(0,0,0,0.6);
}

@media(max-width:768px){
    .header .container{
        flex-direction: column;
        padding:20px;
        text-align: center;
    }
    .boxes .container{
        display: block;
        text-align: center;
    }
}




